* {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  body {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 10px;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h1{
    border-radius: 10px;
    color: aqua;
    display: flex;
    font-family:fantasy;
    font-size: 5rem;
    font-weight: 800;
    justify-content: center;
    margin: 30px 10px;
    padding: 10px 5px;
    text-shadow: 10px 15px 10px black;
  }
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    color: black;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    width: 400px;
  }
  
  .card p {
    background-color: white;
    color: black;
    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    height: 350px;
    width: 450px;
  }